*{
    font-family: Areal;
    margin: 0;
    padding: 0;
}
/* Затенение с формой */
.screen{
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:absolute;
    top:0;
}
/* Форма */
.form{
    margin: auto;
    width:700px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px #000;
    position: relative;
}
/* Кнопки Входа\Выхода */
.testBut{
    width: 100px;
    border-radius: 3px;
    border: 2px solid lightgray;
    height: 30px;
    margin: 15px;
}
.testBut:hover{
    background-color: lightgray;
    cursor: pointer;
}
.exitBut{
    position: absolute;
    float: right;
    right: 2px;
    top: 1px;
    border: none;
    width: 35px;
    height: 17px;
}
.exitBut:hover{
    background-color: #FF2B25;
    cursor: pointer;
}
.exitBut:active{
    background-color: #FD827F;
}
input:active{
    border: none;
}
/* Контейнеры с Заголовком и Контентом */
.header{
    position: fixed;
    width: 700px;
    height: 15%;
    z-index: 5;
    border-bottom: 1px solid lightgray;
    background-color: white;
}
.header h1{
    position: relative;
    text-align: center;
    top: 35px;
}
.container-content{
    position: fixed;
    margin-top: 100px;
    height: 550px;
    width: 600px;
}
.text {
    position: absolute;
    /*overflow: auto;*/
    z-index: 3;
    padding: 0 50px;
    width: 600px;
    height: 550px;
    text-align: justify;
}

/* Скролл (его части) */
.scroll {
    position: absolute;
    right: -100px;
    top: 0;
    width: 19px;
    height: 570px;
    background-color: cyan;
    z-index: 101;
}

.up {
    width: 19px;
    height: 22px;
    /*position: absolute;*/
    top: 0;
    right: 0;
    background-color: lavender;
    border-bottom: 1px solid gray;
    cursor: pointer;
    border-radius: 2px;
}

.slider {
    position: absolute;
    top: 23px;
    right: 0;
    width: 19px;
    height: 92%;
    background-color: lavender;
} 
.travel {
    position: relative;
    width: 19px;
    height: 10%;
    background-color: SlateBlue;
    cursor: pointer;
    border-radius: 20px;
    top: 0;
}
.down {
    border-top: 1px solid gray;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 19px;
    height: 22px;
    background-color: lavender;
    cursor: pointer;
    border-radius: 2px;
}